@charset "utf-8";
/* CSS Document */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */


html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
	background: #000b17 url(http://crossroads.schneider.com/images/crossroads/img_bg.jpg) repeat-x;
	color: #000000;
	font-family: arial,verdana,sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	padding-bottom: 20px;
}
section.is-open:after {
    clear:both;
    display: block;
    content: " ";
}

#logo {
	margin: 20px 0 0 30px;	
}

.content {
	font-size: 0.8em;	
}
.content p {
	margin: 10px 0 10px 30px;
	width: 80%;	
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

a:link, a:visited {
	text-decoration: none;
	color: #ff6600;
	font-family: sans-serif;
}
a:hover, h3 a:hover {
	text-decoration: none;
	color: #000000;
}
.content ul {
	margin-left: 35px;
}
.content ul ul {
	margin-left: 0;	
}
.content li {
	color: #000000;
	font-family: arial,verdana,sans-serif;
	color: #000000;
	padding: 5px	
}
.content ul ul li {
	padding: 0px	
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
 
 .orange {
	color: #ff7011;
 }
 
 .blue {
	color: #004879; 
 }
 
 .plus-icon {
	 margin-left: -22px;
 }
 
 .plus-icon img {
	 vertical-align: middle; 
 }
 
h1 {
	letter-spacing: .5px;
	font-family: arial,verdana,sans-serif;
	font-size: 16pt;
	color: #000000;
}

h3 {
	border: none;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: .15em;
	line-height: 1em;

}

h1#title {
	margin-left: 30px;	
}

section h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
#nav {
  margin: 24px auto;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}

ul#nav {
  padding: 0;
}

#nav li {
  list-style: none;
  text-align: center;
  clear: both;
}

#nav li section {

}

#nav li a.tab {
  display: block;
  padding: 10px 15px;
  padding: 0px 25px;
  background: #acbdcd;
  border-top: 4px solid #acbdcd;
  border-bottom: 1px solid #999;
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
}

#nav li a.tab:hover, #nav li a.tab.active {
	background: #fff;
	color: #000;
	border-top: 4px solid #acbdcd;
	border-right: 1px solid #acbdcd;
	border-left: 1px solid #acbdcd;
	border-bottom: 1px solid #fff;
	margin-left: -1px;
	margin-right: -1px;
	z-index: 1001;
	position: relative;
}

#nav section {
  display: none;
  /* I NEED TO FIX THIS */
  float: left;
  overflow: hidden;
  padding: 1% 3% 0 3%;
  text-align: left;	
  width: 100%;
}

.no-js #nav section {
  display: block;
  /* I NEED TO FIX THIS */
}

#nav li ul li a {
  padding: 10px 25px;
  border-bottom: 1px dotted #ccc;
}
.clear {
	clear: both;
}


/****  RESPONSIVE LAYOUT COLUMNS ****/


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}

section {
	font-size: 0.8em;	
}
                                               
					
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 65.2%;
}
.span_1_of_2 {
	width: 33.2%;
	min-width: 310px;
}

section .span_1_of_2 {
	min-width: inherit;
}

section .span_1_of_2 {
	padding: 20px 0;
}

section .span_2_of_2 {
	padding: 20px 20px 20px 42px;
}

form#icForm label {
	width: 100px;
	display: inline-block;
}

form#icForm input[type="image"] {
	float: right; 
	margin-right: 128px;
}
ul.footer {
	font-size: 0.8em;
	padding: 30px;
	clear: both;	
}

.small {
	font-size: 0.85em;	
}

/****  RESPONSIVE LAYOUT TABS ****/

@media only screen and (min-width: 870px) {
  #nav {
    /*width: 80%;*/
    position: relative;
    border: none;
  }

  #nav li {
    display: inline;
  }

  #nav li a.tab {
    display: inline-block;
  }

  #nav section {
    padding: 1%;
    position: relative;
    top: 60px;
	top: -1px;
    left: -1px;
	border: 1px solid #acbdcd;
  }
  hr.footer {
		display: none;  
  }
}

@media only screen and (min-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	form#standardform label {
		display: none;	
	}
	form#standardform input[type="text"], form#standardform input[type="password"] {
		width: 100%;	
	}
}

@media only screen and (max-width: 960px) {
	#wrapper {
		width: 94%;
	}
	#nav section {
		width: 94%;
	}

}

@media only screen and (max-width: 825px) {
	#wrapper .span_2_of_2 {
		width: 96%; 
	}
	#wrapper .span_1_of_2 {
		width: 100%;
	}
}

@media only screen and (max-width: 869px) {
	#nav li a.tab {
		display: block;
		padding: 10px 15px;
		background: #ccc;
		border: 1px solid #ccc;
		text-decoration: none;
		color: #000;
		font-size: 1em;
		text-align: left;
	}
	#nav li a.tab:hover, #nav li a.tab.active {
		background: #fff;
		color: #fff;
		background: #acbdcd;
		border: 1px solid #acbdcd;
		margin-left: -1px;
		margin-right: -1px;
		z-index: 1001;
		position: relative;
	}
	br { display:none; }
	hr.footer { display:block; }
	section .span_1_of_2, section .span_2_of_2 {
		padding: 15px;
	}
	section .col:first-child {
		margin-left: 1.6%;
	}
	form#icForm input[type="image"] {
		float: none; 
		margin-right: 0px;
		margin-left: 100px;
	}

}

