body {
	margin: 0;
	padding: 0;
	background: #ffffff url(../images/Snowflake-Background.png) top left repeat-x;
	font-family: Arial, Helvetica, sans-serif;	
}
p {
	font-size: 14px;	
}
div#wrapper {
	width: 720px;
	margin: 0 auto;
	text-align: center;	
}
div#image-container {
	background: #fff;
	height: 350px;
	width: 450px;
	margin: 0 auto;
	overflow: hidden;
	/*-webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;*/

}
div#images-top {
	background: transparent url(../images/Top-Frame.png) top center no-repeat;
	width: 470px;
	height: 21px;
	margin: -364px auto 0;
}
div#images {
	background: transparent url(../images/Middle-Frame.png) top center repeat-y;
	width: 470px;
	height: 337px;
	margin: 0 auto;
}
div#images-bottom {
	background: transparent url(../images/Bottom-Frame.png) bottom center no-repeat;
	width: 470px;
	height: 21px;
	margin: 0 auto;
}
div#left-arrow {
	background: transparent url(../images/Left-Arrow.png) top left no-repeat;
	height: 56px;
	width: 32px;
	position: relative;
	top: 140px;
	left: -23px;
	cursor: pointer;
}
div#right-arrow {
	background: transparent url(../images/Right-Arrow.png) top left no-repeat;
	height: 56px;
	width: 32px;
	position: relative;
	top: 85px;
	left: 462px;
	cursor: pointer;
}
div.caption-top {
	margin: -28px 0 -5px -220px;
	position: absolute;
	padding: 2px;
	background: none;
	display: inline-block;
	float: left;	
}
div#footer {
	position: relative;
	bottom: 0;
	margin-top: 110px;
}
.cinzel {
	font-family: 'Cinzel', serif;	
}
.blue {
	color: #069ab6;	
}